.container{
    display: flex;
    width: 100%;
    height: 100vh;
    padding: 4% 2%;
    box-sizing: border-box;
    
}

.box{
    flex: 1;
    overflow: hidden;
    margin: 8px;
    box-shadow: 0 20px 30px rgba(0, 0, 0, 0.20);
    line-height: 0;
    transition: all 600ms;
}

.box > img{
    width: 200%;
    height: calc(100% - 10vh);
    object-fit: cover;
    transition: all 300ms;
}

.box > span{
    font-size: 35px;
    font-family: sans-serif;
    display: block;
    text-align: center;
    height: 10vh;
    line-height: 2.6;
}

.box:hover{
    flex: 50%;
}

.box:hover > img{
    width: 100%;
    height: 100%;
}















